.paradise {
    background: url(https://i.picsum.photos/id/127/1400/400.jpg);
    min-height: 400px;
    color: white;
}

.table-column {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 1em;
}